* {
    font-family: 'Open Sans', sans-serif;
    
}

body {
    
    background-image: url('../assets/background/codo_a_codo_back3.JPG');
    background-position: top center;
    background-repeat: repeat;
    background-size: 100%;
    display: flex;
    color: rgb(143, 25, 25);
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container_seccion {
    min-height: 85vh;
    padding: 10px;
    text-align: center;
}

.container_class {
    min-height: 85vh;
    padding: 10px;
    text-align: center;
}

header {
    background: rgba(67, 76, 202, 0.75);
    padding: 0%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1070;
    display: grid;
    grid-template-areas: 'logo nav nav nav';
}

footer {
    background: rgb(0, 0, 0);
    min-height: 30px;
    padding-top: 15px;
    width: 100%;
    font-size: 0.75rem;
    text-align:left;
}

.fondo_logo {
    float: left;
    display: block;
    font-family: 'Exo 2';
    font-size: 3vw;
    color: white;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    text-shadow: #000 1px 1px 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.logo i {
    margin-right: 10px;
}

nav {
    grid-area: nav;
    font-size: 0.75rem;
    flex-wrap: nowrap;
    align-items: center;
    top: 0px;
    margin: 0;
    padding: 0;
    position: sticky;
}
/**************************************************/
/*                    HOME                        */
/**************************************************/

table {
    min-height:100%;
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
    font-size: larger;
    
}
/**************************************************/
/*                 classes                        */
/**************************************************/

.container_class {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 10px;
    grid-gap: 10px;
    grid-template-columns: auto;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 40px;
}



/**********************************************/
/*         COMPORTAMIENTO X TAMAÑO            */
/**********************************************/


@media screen and (min-width: 768px) {
   
    header {
        grid-template-areas: 'logo nav nav nav';
    }
    nav {
        display: flex;
        margin-left: 10px;
    }
    .logo {
        grid-area: logo;
        display: block;
        font-family: 'Exo 2';
    }
    .logo img,
    .logo object {
        max-height: 50px;
        margin: 5px;
    }
    
    .menu-btn:checked~.menu {
        flex-direction: row;
        display: flex;
    }
    .menu {
        clear: none;
        float: left;
        max-height: none;
        flex-direction: row;
        display: flex;
        margin-top: 15px;
    }
    .menu li,
    .menu li a {
        padding: 10px 10px;
        text-align: center;
        cursor: default;
    }
    .menu-icon {
        display: none;
    }
    .mostrar {
        height: 150px;
        transition: all 0.5s;
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (min-width: 1024px) {
    
    header {
        grid-template-areas: 'logo logo logo logo' 'nav nav nav nav';
    }
    .menu li {
        float: left;
        width: auto;
        padding-left: 20px;
    }
    .menu li a {
        padding: 10px 10px;
        vertical-align: middle;
    }
    .menu label {
        padding-left: 10px;
        display: initial;
    }
    .menu-btn:checked~.menu {
        flex-direction: row;
        display: flex;
    }
    .menu {
        clear: none;
        float: left;
        max-height: none;
        flex-direction: row;
        display: flex;
        margin-top: 15px;
    }
    .menu-icon {
        display: none;
    }
       
    .mostrar {
        height: 100px;
        transition: all 0.5s;
        padding: 20px;
        margin: 20px;
    }
    

/************************************************/
/*               ANIMACIONES                    */
/************************************************/

@keyframes gradiente {
    0% {
        background-color: #4b40ee;
    }
       100% {
        background-color: #d428b8;
    }
}
/* Se aplica al boton del formulario en contacto */

.gradiente {
    animation-name: gradiente;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}